    /* index page */
    
    #sign_in_page {
        background: linear-gradient(to bottom right, #e4ecef, #9edbf0);
    }
    
    .sign_img {
        display: flex;
        justify-content: center;
    }
    
    .sign_img .logo {
        max-width: 42%;
        margin-left: 5px;
    }
    
    .sign_img img span {
        font-size: 14px;
    }
    
    .ihub {
        font-size: 13px;
    }
    
    .sign_img button {
        border: none;
        padding: 0px;
    }
    
    .authorProfileImage img {
        border-radius: 50%;
        max-width: 56%;
        border: 1px solid #fff;
    }
    
    .copyright {
        text-align: center;
        line-height: 0.1px;
    }
    
    .copyright p {
        color: #777777;
    }
    
    .cards {
        display: flex;
        justify-content: space-evenly;
    }
    /* .cards_section */
    
    #card_section {
        margin: 268px 0px;
    }
    
    .card {
        width: 43%;
        background-color: #edf3f5;
        border: 1px solid #fff;
        border-radius: 12px;
    }
    
    .card_img_wrap {
        text-align: center;
        line-height: 30px;
    }
    
    .card_img_wrap a {
        font-size: 34px;
    }
    
    .card_img_wrap p {
        font-size: 27px;
        font-size: 17px;
        color: rgb(75 131 194);
        font-weight: 600;
    }